<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ConexionABD_2.Properties.Settings.BDPruebaConnectionString"
      connectionString="Data Source=LAPTOP-47THKE4K;Initial Catalog=BDPrueba;Persist Security Info=True;User ID=sa;Password=root;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="BDPruebaEntities" connectionString="metadata=res://*/BD.csdl|res://*/BD.ssdl|res://*/BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-47THKE4K;initial catalog=BDPrueba;persist security info=True;user id=sa;password=root;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BDPruebaEntities1" connectionString="metadata=res://*/BD.csdl|res://*/BD.ssdl|res://*/BD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-47THKE4K;initial catalog=BDPrueba;persist security info=True;user id=sa;password=root;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ConexionABD_2.Properties.Settings.ConnectionString"
      connectionString="Data Source=LAPTOP-47THKE4K;User ID=sa;Password=root;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="ConexionABD_2.Properties.Settings.masterConnectionString"
      connectionString="Data Source=LAPTOP-47THKE4K;Initial Catalog=master;User ID=sa;Password=root;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>